*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-image: linear-gradient(to right, #eef2f3, #8e9eab);
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin-top:14rem;
}
a{
    color: blue;
    text-decoration: none;
}

#first-heading{
    font-size: 5.8rem;
}
.copy-button {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  margin-bottom: 0;
}

.copy-button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.copy-button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}

#second-heading{
    margin-top: 3rem;
    font-size: 5.0rem;
}
#direction-buttons-parent{
    margin-bottom: 4rem;
    display: flex;
}
#button1{
        background-color: #0a6bff;
        border-radius: 4px;
        border: 0;
        box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline;
        font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 28px;
        font-weight: 700;
        line-height: 24px;
        margin: 0;
        min-height: 56px;
        min-width: 200px;
        padding: 16px 20px;
        text-align: center; 
    }

    #button2{
        background-color: #0a6bff;
        border-radius: 4px;
        border: 0;
        box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline;
        font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 28px;
        font-weight: 700;
        line-height: 24px;
        margin: 0;
        min-height: 56px;
        min-width: 200px;
        padding: 16px 20px;
        text-align: center; 
    }

    #button-totop {
        align-items: center;
        background: #FFFFFF;
        border: 0 solid #E2E8F0;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        color: #1A202C;
        display: inline-flex;
        font-family: Inter, sans-serif;
        font-size: 2rem;
        font-weight: 700;
        height: 56px;
        justify-content: center;
        line-height: 24px;
        overflow-wrap: break-word;
        padding: 24px;
        text-decoration: none;
        width: 147px;
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-top: 22px;
      }
      #button-tobottom {
        align-items: center;
        background: #FFFFFF;
        border: 0 solid #E2E8F0;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        color: #1A202C;
        display: inline-flex;
        font-family: Inter, sans-serif;
        font-size: 2rem;
        font-weight: 700;
        height: 56px;
        justify-content: center;
        line-height: 24px;
        overflow-wrap: break-word;
        padding: 24px;
        text-decoration: none;
        width: auto;
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        margin-top: 22px;
        width: 14.7rem;
      }
      #button-toright {
        align-items: center;
        background: #FFFFFF;
        border: 0 solid #E2E8F0;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        color: #1A202C;
        display: inline-flex;
        font-family: Inter, sans-serif;
        font-size: 2rem;
        font-weight: 700;
        height: 56px;
        justify-content: center;
        line-height: 24px;
        overflow-wrap: break-word;
        padding: 24px;
        text-decoration: none;
        width: auto;
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        /* touch-action: manipulation; */
        margin-top: 22px;
        width: 14.7rem;
      }
      #button-toleft {
        align-items: center;
        background: #FFFFFF;
        border: 0 solid #E2E8F0;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        box-sizing: border-box;
        color: #1A202C;
        display: inline-flex;
        font-family: Inter, sans-serif;
        font-size: 2rem;
        font-weight: 700;
        height: 56px;
        justify-content: center;
        line-height: 24px;
        overflow-wrap: break-word;
        padding: 24px;
        text-decoration: none;
        width: auto;
        border-radius: 8px;
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        margin-top: 22px;
        width: 14.7rem;
      }
      #direction-buttons{
        display: flex;
        gap: 3rem;
        margin-top: 2rem;
      }
      #direction-buttons-parent{
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height:300px;
        margin-bottom: 0;
      }
      #direction-buttons-parent #button:not(:last-child){
        margin-right:2.2rem;
      }
      #buttons{
        display: flex;
        gap:5.7rem
      }
      #final-button {
        align-items: center;
        /* background-color: rgba(240, 240, 240, 0.26); */
        background-color: #fff;
        border: 2px solid #DFDFDF;
        border-radius: 16px;
        box-sizing: border-box;
        color: #000000;
        cursor: pointer;
        display: flex;
        font-family: Inter, sans-serif;
        font-size: 18px;
        justify-content: center;
        line-height: 28px;
        max-width: 100%;
        padding: 14px 22px;
        text-decoration: none;
        transition: all .2s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 100%;
        margin-top: 3rem;
      }
      
      #final-button:active,
      #final-button:hover {
        outline: 0;
      }
      
      #final-button:hover {
        background-color: #4dff4d;
        border-color: rgba(0, 0, 0, 0.19);
      }
      
      @media (min-width: 768px) {
        #final-button {
          font-size: 20px;
          min-width: 200px;
          padding: 14px 16px;
        }
      }

